.center {
  text-align: center;
  color: red;
  font-weight: bold;
  text-decoration: underline;
  line-height: 2;
  font-size: 20px;
}
.right {
  text-align: right;
  font-weight: 500;
  text-decoration: line-through;
}
.justify {
  text-align: justify;
  font-weight: 300;
  letter-spacing: 1.5px;
  font-family: Arial, Helvetica, sans-serif;
}
.none {
  text-decoration: none;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}
.button {
  font-size: larger;
}
