.center{
    text-align: center;
    color: red;
    font-weight: bold;
    text-decoration: underline;
    line-height:2;
}
.right{
    text-align: right;
    font-weight: 500;
    text-decoration:line-through;
}
.justify{
    text-align: justify;
    font-weight: 300;
    letter-spacing: 1.5px;
}
.none{
    text-decoration: none;
}