body {
  height: 2500px;
}

h1 {
  color: red;
}

.kart {
  position: relative;
  width: 250px;
  height: 150px;
  background-color: white;
  border: 2px solid #333;
  padding: 10px;
  margin: 50px;
}

.etiket {
  position: absolute;
  top: -15px;
  right: -15px;
  background-color: red;
  color: white;
  padding: 5px 10px;
  z-index: 10;
}

.sabit-menu {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  text-align: center;
  padding: 10px;
}
