.conteiner-1 {
  border: 2px solid red;
  height: 200px;
  width: 500px;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.conteiner-1 div {
  background-color: aqua;
}

.item-5th {
  padding-top: 15px;
}

.conteiner-2 {
  border: 2px solid red;
  height: 100px;
  width: 500px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.conteiner-2 div {
  background-color: aqua;
}

.conteiner-3 {
  border: 2px solid red;
  height: 100px;
  width: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.conteiner-3 div {
  background-color: aqua;
}

.conteiner-4 {
  border: 2px solid red;
  height: 100px;
  width: 500px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.conteiner-4 div {
  background-color: aqua;
}

.conteiner-5 {
  border: 2px solid red;
  height: 300px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.conteiner-5 div {
  background-color: aqua;
}
